<section id="about">
    <div class="page-header">
      <h1>How to build SIGFOX hardware ?</h1>
    </div>
    <h2>Our open hardware approach</h2>
    <p>
      Hardware cost can become a hot issue when deploying million of devices and that is why SIGFOX makes its library available to silicon and module vendors. This strategy has encouraged the biggest silicon and module vendors to integrate SIGFOX in their existing products and develop new ones, giving solution enablers a wide choice of very competitively priced components. 
    </p>
    <p>
        You can distinguish 3 main types of chipsets : <b><a href="https://partners.sigfox.com/search/products?or[categories][0]=module&q=&limit=12&page=0&sort=">the modules</a></b>, <b><a href="https://partners.sigfox.com/search/products?or[categories][0]=soc">the SoCs</a> </b>, and <b><a href="https://partners.sigfox.com/search/products?or[categories][0]=transceiver">the transcievers/transmietters.</a></b> Each of these types of produts has its up pros and cons, and it will be up to you to choose the one which will suit the best your needs.  </p> 
    
    <p>
        If you simply want to start to <b>prototype </b>, the evaluation boards and developer kits are made for you. Ready to go, they provide all the tools you need to start your project and have fun with SIGFOX.</p>
    
    <p>Here is a list of all the hardware available to build a SIGFOX product. </p>
   