<section id="about">
    <div class="page-header">
      <h1>A Global Network dedicated to the Internet of Things.</h1>
    </div>
    
    <h2>4 main pillars from our solution</h2>
    
    <ul>
        <li><b>One Global Network</b>: The same network and subscription everywhere. IoT devices can now travel borders without fear.</li>
        <li><b>Energy efficient</b> : The technology is made to have devices which can go up to years of battery life. </li>
        <li><b>Cost effective</b>: Using on the shelves hardware and an effective deployment model, cost is going down dramatically.</li>
        <li><b>Easy</b>: Out of the box experience. No pearing, just magic. </li>
    </ul> 
    <p>
    We run an operated network, meaning  you do not have to handle any installation or maintenance operations.<br />      
      

    </p>
    <br />
    
    <h2>SIGFOX Specifics</h2>
    <p>
              The SIGFOX network is designed for small messages sent every now and then. It is not appropriate for high-bandwith usages (multimedia, permanent broadcast).
      <ul>
        <li>Up to <b>12 bytes per message</b>. Seems small, but that's actually more than enough for most of the uses cases. </li>
        <li>Up to <b>140 messages per day</b>. This limitation is introduced, in part, to comply with regulations. The european regulation governing the 868MHz band enforces a transmission  <a href="http://en.wikipedia.org/wiki/Duty_cycle" target="_blank">duty cycle</a> of 1%.  </li>
      </ul>
    </p>
   <br />
   
    
  </section>