<section id="about">
    
    <h2>Get started </h2>
    <p>
    You need 3 things to get started with SIGFOX :
      <ul>
        <li>A SIGFOX-ready module or transceiver (Check our Partner Network <a target="_partners" href="//partners.sigfox.com">here</a>)</li>
        <li>A valid subscription. Most of the Eval Kits come with a one-year subscription.</li>
        <li>Be in a covered area. (See current coverage <a target="_www" href="//www.sigfox.com/coverage">here</a>)</li>
          
          <br />
          
        
      </ul>
    </p>

  </section>