<section id="about">
    <div class="page-header">
        <h1>Technology</h1> </div>


    <p> SIGFOX allows a <b>bidirectional communication</b>, however to get maximum battery life, the communication is always initiated by the device.<br />
      The network operates on sub-GHz frequencies, on ISM bands : 868MHz in Europe/ETSI & 902MHz in the US/FCC.
    </p>
    <p>
      SIGFOX uses an <b>Ultra-Narrow Band (UNB) </b>modulation, which is key to our ability to provide a scalable & high-capacity network.
    </p>
    <p>
      With a 162dB budget link SIGFOX enables long range communications, with much longer reach than GSM.
    </p>
    <p>
      There is no negotiation between the device and a receiving station. The device simply emits in the available frequency band (+/- its own frequency shift).<br />
      The signal is detected by the closest base stations, decoded & forwarded to the network backend.<br />
      Deduplication & other protocol operations are handled by the network itself.<br />
      Messages are then forwarded to your own application, and made   accessible using SIGFOX's API.
    </p>
    <p>
      Each message is authenticated using a hash mechanism, and a private key specific to the device. <br />
      This offers a great protection against replay attacks.<br />
      The SIGFOX radio protocol also offers a great resistance to interferers.
    </p>
    <br />
   